body {
  height: 100%;
  background-color:  #BAE3F2;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Limelight", cursive;
}
.content{
  padding: 16px;
}
/* // -------------- Nav bar ------------------------// */

#nav {
  background-color: #2C769E;
  display: flex;
  margin: auto;
  border: 3px solid  #167980;
  height: 4em;
  top: 0;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  color:  #FFEED9;
  
}

#text {
  display: flex;
  text-decoration: none;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Limelight", cursive;
  color:  #FFEED9;
  font-size: x-large;
  justify-content: space-around;

}

#text:hover {
  color: #D4A861;
}

/* // ------ To make the nav sticky -------- // */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
/* //------------------------ header ------------------------ // */
#Rheader {
  width: 80%;
  display: flex;
  background-image: url("https://24.media.tumblr.com/fd6f1a53bca5f357b1817e30a1a1c804/tumblr_mwfbfkCw5Z1rz41l5o1_500.jpg");
  background-size: 100% 100%;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid  #167980;
  flex-direction: column;
}
#resumeT {
  font-size: xx-large;
}
#H{
  align-self: center;
  
}
#resumePage {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 30%;
  align-self: center;
  margin-bottom: 2em;
  outline: 3px solid  #167980;
  background-color:    #fff1f0;

}
/* /// skill list ///// */

#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;  
}
#tech-skills:hover{
  background-color:  #7AAF78;
}
#other-skills:hover{
  background-color: #FFCC76;
}
#ul{
  display: flex;
  justify-content: center;
}

#tech-skills {
  margin-top: 1em;
  margin-left: 5em;
  border: 3px solid  #167980;
  padding: 1em;
  font-family: "Limelight", cursive;
  background-color: #FFE1C7;
}
#other-skills {
  margin-top: 1em;
  margin-left: 5em;
  border: 3px solid  #167980;
  padding: 1em;
  font-family: "Limelight", cursive;
  background-color: #F5C0B5;
}

#tech {
  display: none;
  border: 3px solid  #167980;
  margin-left: 2em;
  background-color: #E6FCED;
}
#other{
  display: none;
  border: 3px solid  #167980;
  margin-left: 2em;
  margin-right: 2em;
  background-color:  #C9F2EB;
}

#past{
  background-color: #FFFCF0;
  outline: 3px solid  #167980;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 5em;
  text-align: center;
  padding: 2em;
}

/* // ------------ MODAL --------- //  */
#modal {
  background-color: #bf9004cd;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  height: 100%;
  width:100%;
  z-index: 1;
  display: none;
}

#modal-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 3em;
  background-color: #C5E1E8;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 4em;
  margin-bottom: 4em;
}

#modal-link1 {
  display: flex;
  justify-content: center;
  align-items: space-between;
  color: whitesmoke;
  text-decoration: none;
  font-size: large;
  background-color: rgb(187, 187, 89);
  border: 3px solid black;
  width: 20%;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;

}
#modal-link2 {
  display: flex;
  justify-content: center;
  align-items: space-between;
  text-decoration: none;
  font-size: large;
  background-color: rgb(231, 182, 104);
  border: 3px solid black;
  width: 20%;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

}



#close {

  margin-top: 4em;
  padding: 1em;
  width: 155px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  background-color: #ee8583;
  color: whitesmoke;
  border: 3px solid black;
  font-family: 'Limelight', cursive;
  margin-left: 28em;
}